<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game with unusual control</title>
    <style>
        body {
            overflow: hidden;
            position: fixed;
            width: 100%;
            height: 100%;
            margin: 0;
        }
    </style>
</head>

<body>
    <canvas id="canvas" style="image-rendering: pixelated; margin: 0px;"></canvas>
    <script src="js/test_game.js"></script>
    <script src="js/extra_word.js"></script>
    <script src="js/main.js"></script>
</body>

</html>